.footer {
    position: sticky;
    width: 100%;
    bottom: 0;
}

.body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main-content {
  flex: 1;
}

.custom-checkbox {
    background-size: 80% !important;
    border-width: 2px !important;
}

.custom-checkbox:checked {
    background-size: 80% !important;
}
