{% extends "host/master.html" %}
{% load static %}

{% block links %}
    <script src="{% static 'host_active_guests.js' %}" type="module"></script>
{% endblock %}

{% block title %}
    Aktywni goście
{% endblock %}

{% block header %}
    Aktywni goście
{% endblock %}

{% block content %}

    <div id="main-content">
        <div id="filters">
            <input id="firstname-filter" type="text" placeholder="Wpisz imię">
            <input id="lastname-filter" type="text" placeholder="Wpisz nazwisko">
            <input id="company-filter" type="text" placeholder="Wpisz firmę">
            <input id="car-filter" type="text" placeholder="Wpisz numer rejestracyjny">
        </div>

        <div id="guests">
            <table id="guests-table">
                <thead>
                    <tr>
                        <th>Imię Nazwisko</th>
                        <th>Firma</th>
                        <th>Numer rejestracyjny</th>
                        <th>Data przybycia</th>
                        <th>Cel wizyty</th>
                        <th>Osoby odpowiedzialne</th>
                    </tr>
                </thead>
                <tbody id="guests-table-body"></tbody>
            </table>
        </div>
    </div>

    <div id="no-data-info" style="display:none;">
        <h2>Brak rekordów do wyświetlenia</h2>
    </div>

    {{ active_guests|json_script:"active_guests_json" }}

{% endblock %}