{% extends "host/master.html" %}
{% load static %}

{% block links %}
    <script src="{% static 'add_meeting.js' %}"></script>
{% endblock %}

{% block title %}
    Nowe spotkanie
{% endblock %}

{% block header %}
    Nowe spotkanie
{% endblock %}

{% block content %}
    <div id="main-form">

        <label for="description">Opis spotkania</label>
        <textarea id="description"></textarea>

        <label for="date">Data spotkania</label>
        <input id="date" type="date">

        <label for="start-time">Czas rozpoczęcia</label>
        <input id="start-time" type="time">

        <label for="end-time">Czas zakończenia</label>
        <input id="end-time" type="time">

        <div id="leaders-form">

            <input list="hosts" id="hosts-list">
            <datalist id="hosts">
                {% for host in hosts %}
                    <option value="{{host.firstname}} {{host.lastname}}">
                {% endfor %}
            </datalist>

            <button id="add-leader" onclick="addLeader()">Dodaj</button>

            <table id="leaders-table">
            <thead>
                <tr>
                    <th style="display: none"></th>
                    <th>Imię</th>
                    <th>Nazwisko</th>
                    <th>Akcja</th>
                </tr>
            </thead>
            <tbody id="leader-table-body"></tbody>
            </table>
        </div>

    <input type="submit" value="Akceptuj" onclick="postMeetingData()">

    </div>

    {{ author|json_script:"author_json" }}
    {{ hosts|json_script:"hosts_json" }}

{% endblock %}
