{% extends "host/master.html" %}
{% load static %}

{% block links %}
    <script src="{% static 'host_guests_history.js' %}" type="module"></script>
{% endblock %}

{% block title %}
    Historia gości
{% endblock %}

{% block header %}
    Historia gości
{% endblock %}

{% block content %}

<div class="container-fluid mt-4">
    <div id="main-content">
        <div id="filters" class="row g-2 mb-4">
            <div class="col-md-6 col-lg-3">
                <input id="firstname-filter" type="text" class="form-control" placeholder="Wpisz imię">
            </div>
            <div class="col-md-6 col-lg-3">
                <input id="lastname-filter" type="text" class="form-control" placeholder="Wpisz nazwisko">
            </div>
            <div class="col-md-6 col-lg-3">
                <input id="company-filter" type="text" class="form-control" placeholder="Wpisz firmę">
            </div>
            <div class="col-md-6 col-lg-3">
                <input id="car-filter" type="text" class="form-control" placeholder="Wpisz numer rejestracyjny">
            </div>

            <div class="col-md-6 col-lg-3">
                <div class="row g-1">
                    <div class="col-6">
                        <input id="date-start-filter" type="date" class="form-control">
                    </div>
                    <div class="col-6">
                        <input id="date-end-filter" type="date" class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="row g-1">
                    <div class="col-6">
                        <input id="time-start-filter" type="time" class="form-control">
                    </div>
                    <div class="col-6">
                        <input id="time-end-filter" type="time" class="form-control">
                    </div>
                </div>
            </div>
        </div>

        <div id="history" class="table-responsive">
            <table id="history-table" class="table table-striped align-middle w-100">
                <thead class="table-dark">
                    <tr>
                        <th>Imię Nazwisko</th>
                        <th>Firma</th>
                        <th>Numer rejestracyjny</th>
                        <th>Data przybycia</th>
                        <th>Data wyjścia</th>
                        <th>Cel wizyty</th>
                        <th>Osoby odpowiedzialne</th>
                    </tr>
                </thead>
                <tbody id="history-table-body"></tbody>
            </table>
        </div>

        <div id="no-data-info" class="text-center mt-4" style="display:none;">
            <h4 class="text-muted">Brak rekordów do wyświetlenia</h4>
        </div>
    </div>

</div>

{{ guests_history|json_script:"guests_history_json" }}
{% endblock %}