<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'host-home' %}">
            <i class="bi bi-person-badge"></i> Gospodarz
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#hostNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="hostNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'host-add-guest' %}">
                        <i class="bi bi-person-plus"></i> Dodaj gościa
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'host-active-guests' %}">
                        <i class="bi bi-people"></i> Aktywni
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'host-not-confirmed-guests' %}">
                        <i class="bi bi-question-circle"></i> Niezatwierdzeni
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'host-guests-history' %}">
                        <i class="bi bi-clock-history"></i> Historia
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'host-logout' %}">
                      <span class="glyphicon glyphicon-log-in"></span> Wyloguj
                  </a>
              </li>
            </ul>
        </div>
    </div>
</nav>
