<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
</head>
<body>

    {% if wrong_credentials %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    <p>Please log in to see this page.</p>

<form method="post">
    {% csrf_token %}
    <table>
    <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
    </tr>
    <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
    </tr>
    </table>

    {{ form.next.as_hidden }}

    <input type="submit" value="Zaloguj się">
</form>

</body>
</html>
