{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-icons.min.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    {% block links %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav>{% include 'host/header.html' %}</nav>
    <h1 class="my-3 text-center">{% block header %}{% endblock %}</h1>
    {% block content %}{% endblock %}
    <footer>{% include 'main_menu/footer.html' %}</footer>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
