{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'header.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    {% block links %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav>{% include 'host/header.html' %}</nav>
    <h1>{% block header %}{% endblock %}</h1>
    {% block content %}{% endblock %}
    <footer>{% include 'host/footer.html' %}</footer>
</body>
</html>
