{% extends "host/master.html" %}
{% load static %}

{% block links %}
    <script src="{% static 'host_not_confirmed_guests.js' %}" type="module"></script>
{% endblock %}

{% block title %}
    Niezatwierdzeni goście
{% endblock %}

{% block header %}
    Niezatwierdzeni goście
{% endblock %}

{% block content %}
<div class="container-fluid mt-4">
    <div id="main-content">
        <div id="filters" class="row g-2 mb-4">
            <div class="col-lg-3">
               <input id="firstname-filter" type="text" class="form-control" placeholder="Wpisz imię">
            </div>
            <div class="col-lg-3">
              <input id="lastname-filter" type="text" class="form-control" placeholder="Wpisz nazwisko">
            </div>
            <div class="col-lg-3">
                <input id="company-filter" type="text" class="form-control" placeholder="Wpisz firmę">
            </div>
        </div>

        <div id="guests" class="table-responsive">
            <table id="guests-table" class="table table-striped, align-middle">
                <thead class="table-dark">
                    <tr>
                        <th>Imię Nazwisko</th>
                        <th>Firma</th>
                        <th>Cel wizyty</th>
                        <th>Osoby odpowiedzialne</th>
                        <th>Akcje</th>
                    </tr>
                </thead>
                <tbody id="guests-table-body"></tbody>
            </table>
        </div>
    </div>

    <div id="no-data-info" class="text-center mt-4" style="display:none;">
        <h4 class="text-muted">Brak rekordów do wyświetlenia</h4>
    </div>
</div>

    {{ not_confirmed_guests|json_script:"not_confirmed_guests_json" }}

{% endblock %}