<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'main-menu-home' %}">
            <i class="bi bi-person-badge"></i> DGMS
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'host-home' %}">
                        <i class="bi bi-person-plus"></i> Panel Gospodarza
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'guardhouse-home' %}">
                        <i class="bi bi-people"></i> Panel Stróżówki
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

