{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    {% block links %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav>{% include 'main_menu/header.html' %}</nav>
    <h1>{% block header %}{% endblock %}</h1>
    {% block content %}{% endblock %}
    <footer>{% include 'main_menu/footer.html' %}</footer>
</body>
</html>
