{% extends base_template %}
{% load static %}


{% block links %}
    <script src="{% static 'add_guest/add_guest.js' %}"></script>
{% endblock %}

{% block title %}
    Dodaj nowego gościa
{% endblock %}

{% block header %}
    Dodaj nowego gościa
{% endblock %}

{% block content %}

    <div id="main-form">
        <label for="company-name">Nazwa firmy</label>
        <input list="companies" id="companies-list">
            <datalist id="companies">
                {% for company in companies_data %}
                    <option value="{{company.name}}">
                {% endfor %}
            </datalist>
        <!-- <input type="text" id="company-name"> -->

        <label for="register-nb" {% if not confirmed %}style="display:none"{% endif %}>Numer rejestracyjny</label>
        <input type="text" id="register-nb" placeholder="opcjonalnie" {% if not confirmed %}hidden{% endif %}>
    
        <label for="arrival-purpose">Cel przybycia</label>
        <textarea id="arrival-purpose" placeholder="np. Spotkanie, Prace serwisowe itp."></textarea>
    
        <div id="guests-form">
            <label for="guest-fname">Imię</label>
            <input type="text" id="guest-fname">
    
            <label for="guest-lname">Nazwisko</label>
            <input type="text" id="guest-lname">
    
            <button id="add-guest" onclick="addGuest()">Dodaj</button>
    
            <table id="guests-table">
            <thead>
                <tr>
                    <th style="display: none"></th>
                    <th>Imię</th>
                    <th>Nazwisko</th>
                    <th>Akcja</th>
                </tr>
            </thead>
            <tbody id="guest-table-body"></tbody>
            </table>
        </div>

        <div id="hosts-form">
            <input list="hosts" id="hosts-list">
            <datalist id="hosts">
                {% for host in hosts_data %}
                    <option value="{{host.firstname}} {{host.lastname}}">
                {% endfor %}
            </datalist>
            <button id="add-host" onclick="addHost()">Dodaj</button>

            <table id="hosts-table">
                <thead>
                    <tr>
                        <th style="display: none">TEST</th>
                        <th>Imię</th>
                        <th>Nazwisko</th>
                        <th>Akcja</th>
                    </tr>
                </thead>
                <tbody id="host-table-body">
                {% if not confirmed %}
                    <tr>
                        <td style="display: none;">{{ author.id }}</td>
                        <td>{{ author.firstname }}</td>
                        <td>{{ author.lastname }}</td>
                        <td><button onclick="this.parentNode.parentNode.remove()">-</button></td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>

        <input type="submit" value="Akceptuj" onclick="postGuestData()">

    </div>

    {{ process_url|json_script:"process_url_json" }}
    {{ author|json_script:"author_json" }}
    {{ confirmed|json_script:"confirmed_json" }}
    {{ hosts_data|json_script:"hosts_data_json" }}
    {{ companies_data|json_script:"companies_data_json" }}
    {{ registered_guests_data|json_script:"registered_guests_data_json" }}

{% endblock %}
