{% extends "guardhouse/master.html" %}
{% load static %}

{% block links %}
    <script src="{% static 'guardhouse_active_guests.js' %}" type="module"></script>
{% endblock %}

{% block title %}
    Aktywni goście
{% endblock %}

{% block header %}
    Aktywni goście
{% endblock %}

{% block content %}

<div class="container-fluid mt-4">
    <div id="main-content">

        <div id="filters" class="row g-2 mb-4">
            <div class="col-lg-3">
                <input id="firstname-filter" type="text" class="form-control" placeholder="Wpisz imię">
            </div>
            <div class="col-lg-3">
                <input id="lastname-filter" type="text" class="form-control" placeholder="Wpisz nazwisko">
            </div>
            <div class="col-lg-3">
                <input id="company-filter" type="text" class="form-control" placeholder="Wpisz firmę">
            </div>
            <div class="col-lg-3">
                <input id="car-filter" type="text" class="form-control" placeholder="Wpisz numer tablicy rejestracyjnej">
            </div>
        </div>

        <form method="post" onsubmit="return endVisitsConfirmationPopup();">
            {% csrf_token %}

            <input type="submit" value="Zakończ zaznaczone" class="btn btn-secondary w-100 mb-3">

            <div id="arrivals" class="table-responsive">
                <table id="arrivals-table" class="table table-striped align-middle w-100">
                    <thead class="table-dark">
                        <tr>
                            <th>Imię Nazwisko</th>
                            <th>Firma</th>
                            <th>Numer rejestracyjny</th>
                            <th>Data przybycia</th>
                            <th>Cel przybycia</th>
                            <th>Osoby odpowiedzialne</th>
                            <th>Zakończyć wizytę?</th>
                        </tr>
                    </thead>
                    <tbody id="arrivals-table-body">
                        {% for arrival in active_arrivals %}
                            <tr>
                                <td>{{ arrival.name }}</td>
                                <td>{{ arrival.company }}</td>
                                <td>{{ arrival.register_number }}</td>
                                <td>{{ arrival.arrival_timestamp }}</td>
                                <td>{{ arrival.description }}</td>
                                <td>
                                    {% for host in arrival.hosts %}
                                        <p class="mb-0">{{ host.name }}</p>
                                    {% endfor %}
                                </td>
                                <td>
                                    <form method="post" onsubmit="return confirm('Czy napewno chcesz zakończyć wizytę?');" class="d-inline">
                                        {% csrf_token %}
                                        <input name="arrival_id" type="hidden" value="{{ arrival.id }}">
                                        <button type="submit" class="btn btn-danger btn-sm">Zakończ wizytę</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </form>

        <div id="no-data-info" class="text-center mt-4" style="{% if not_confirmed_arrivals|length > 0 %}display:none;{% endif %}">
            <h4 class="text-muted">Brak rekordów do wyświetlenia</h4>
        </div>
    </div>

</div>

{{ active_arrivals|json_script:"active_arrivals_json" }}
{% endblock %}
