{% extends "guardhouse/master.html" %}
{% load static %}

{% block links %}
    <script src="{% static 'active_guests.js' %}" type="module"></script>
{% endblock %}

{% block title %}
    Aktywni goście
{% endblock %}

{% block header %}
    Aktywni goście
{% endblock %}

{% block content %}

    <div id="main-content">
        <div id="statistics">
            <table id="statistics-table">
                <tbody>
                    <tr>
                        <td>Liczba gości: {{ guest_nb }}</td>
                        <td>Liczba aut: {{ cars_nb }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div id="filters">
            <input id="firstname-filter" type="text" placeholder="Wpisz imię">
            <input id="lastname-filter" type="text" placeholder="Wpisz nazwisko">
            <input id="company-filter" type="text" placeholder="Wpisz firmę">
            <input id="car-filter" type="text" placeholder="Wpisz numer tablicy rejestracyjnej">
        </div>


        <form method="post" onsubmit="return endVisitsConfirmationPopup();">
            {% csrf_token %}

            <input type="submit" value="Zakończ zaznaczone">

            <div id="arrivals">
                <table id="arrivals-table">
                    <thead>
                        <tr>
                            <th>Imię Nazwisko</th>
                            <th>Firma</th>
                            <th>Numer rejestracyjny</th>
                            <th>Data przybycia</th>
                            <th>Cel przybycia</th>
                            <th>Osoby odpowiedzialne</th>
                            <th>Zakończyć wizytę?</th>
                        </tr>
                    </thead>
                    <tbody id="arrivals-table-body">
                        {% for arrival in active_arrivals %}
                            <tr>
                                <td>{{arrival.name}}</td>
                                <td>{{arrival.company}}</td>
                                <td>{{arrival.register_number}}</td>
                                <td>{{arrival.arrival_timestamp}}</td>
                                <td>{{arrival.description}}</td>
                                <td>
                                    {% for host in arrival.hosts %}
                                        <p>{{ host.name }}</p>
                                    {% endfor %}
                                </td>
                                <td class="end-arrival-button">
                                    <form method="post" onsubmit="return confirm('Czy napewno chcesz zakończyć wizytę?');">
                                        {% csrf_token %}
                                        <input name="arrival_id" type="hidden" value="{{ arrival.id }}">
                                        <button type="submit">Zakończ wizytę</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </form>
    </div>

    <div id="no-data-info" style="{% if not_confirmed_arrivals|length > 0 %}display:none;{% endif %}">
        <h2>
            Brak rekordów do wyświetlenia
        </h2>
    </div>

    {{ active_arrivals|json_script:"active_arrivals_json" }}

{% endblock %}
