{% extends "guardhouse/master.html" %}
{% load static %}


{% block links %}
    <script src="{% static 'add_guest.js' %}"></script>
{% endblock %}

{% block title %}
    Dodaj nowego gościa
{% endblock %}

{% block header %}
    Dodaj nowego gościa
{% endblock %}

{% block content %}

    <div id="main-form">
        <label for="company-name">Nazwa firmy</label>
        <input list="companies" id="companies-list">
            <datalist id="companies">
                {% for company in companies_data %}
                    <option value="{{company.name}}">
                {% endfor %}
            </datalist>
        <!-- <input type="text" id="company-name"> -->
    
        <label for="register-nb">Numer rejestracyjny</label>
        <input type="text" id="register-nb" placeholder="opcjonalnie">
    
        <label for="arrival-purpose">Cel przybycia</label>
        <textarea id="arrival-purpose" placeholder="np. Spotkanie, Prace serwisowe itp."></textarea>
    
        <div id="guests-form">
            <label for="guest-fname">Imię</label>
            <input type="text" id="guest-fname">
    
            <label for="guest-lname">Nazwisko</label>
            <input type="text" id="guest-lname">
    
            <button id="add-guest" onclick="addGuest()">Dodaj</button>
    
            <table id="guests-table">
            <thead>
                <tr>
                    <th style="display: none"></th>
                    <th>Imię</th>
                    <th>Nazwisko</th>
                    <th>Akcja</th>
                </tr>
            </thead>
            <tbody id="guest-table-body"></tbody>
            </table>
        </div>

        <div id="hosts-form">
            <input list="hosts" id="hosts-list">
            <datalist id="hosts">
                {% for host in hosts_data %}
                    <option value="{{host.firstname}} {{host.lastname}}">
                {% endfor %}
            </datalist>
            <button id="add-host" onclick="addHost()">Dodaj</button>

            <table id="hosts-table">
                <thead>
                    <tr>
                        <th style="display: none">TEST</th>
                        <th>Imię</th>
                        <th>Nazwisko</th>
                        <th>Akcja</th>
                    </tr>
                </thead>
                <tbody id="host-table-body"></tbody>
            </table>
        </div>

        <div id="meetings-form">
            <button id="meeting-details-button" onclick="document.getElementById('meeting-details-modal').style.display='block'">Dodaj spotkanie</button>
            <div id="meeting-details-modal" class="details-modal">
                <div class="modal-content">
                    <span class="close" onclick="document.getElementById('meeting-details-modal').style.display='none'">&times;</span>
                    <h2>Dostępne spotkania</h2>
                    <table>
                    <thead>
                        <tr>
                            <th style="display: none"></th>
                            <th>Przewodniczący</th>
                            <th>Data</th>
                            <th>Czas rozpoczęcia</th>
                            <th>Czas zakończenia</th>
                            <th>Opis</th>
                        </tr>
                    </thead>
                    <tbody id="add-meeting-table-body">
                        {% for meeting in meetings_data %}
                            <tr class="meeting-detail">
                                <td style="display: none;">{{meeting.id}}</td>
                                <td>{% for leader in meeting.leaders %}{{ leader.firstname }} {{ leader.lastname }}, {% endfor %}</td>
                                <td>{{meeting.date}}</td>
                                <td>{{meeting.start_time}}</td>
                                <td>{{meeting.end_time}}</td>
                                <td>{{meeting.description}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    </table>

                </div>
            </div>
            <table id="meetings-table">
                <thead>
                    <tr>
                        <th style="display: none"></th>
                        <th>Data</th>
                        <th>Czas rozpoczęcia</th>
                        <th>Czas zakończenia</th>
                        <th>Opis</th>
                        <th>Akcja</th>
                    </tr>
                </thead>
                <tbody id="meeting-table-body"></tbody>
            </table>
        </div>

        <input type="submit" value="Akceptuj" onclick="postGuestData()">

    </div>

    <h1>TEST PART</h1>
    {% for guest in registered_guests_data %}
    <p>{{guest}}</p>
    {% endfor %}

    {{ hosts_data|json_script:"hosts_data_json" }}
    {{ companies_data|json_script:"companies_data_json" }}
    {{ registered_guests_data|json_script:"registered_guests_data_json" }}

{% endblock %}
