{% extends "guardhouse/master.html" %}

{% block title %}
    Strona główna
{% endblock %}

{% block header %}
    Daicel Guest Management System
{% endblock %}

{% block content %}

    <div class="info" style="{% if old_guest_nb == 0 %}display:none;{% endif %}">
        <h2>UWAGA - przedawnione aktywne wizyty</h2>
        <p>W systemie widoczne są aktywne wizyty z poprzednich dni, które powinny zostać zakończone</p>
        <p>Liczba przedawnionych wizyt: {{ old_guest_nb }}</p>
    </div>

    <a href={% url 'main-menu-home' %}>Powrów do głównego menu</a>

{% endblock %}
